/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #83daf7;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
}

.navbar .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    margin-right: 20px;
}

.navbar .searchbar {
    margin-right: 20px;
}

.navbar .searchbar input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 200px;
}

.navbar .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-right: 20px;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
}

.navbar .nav-links a:hover {
    color: #ccc;
}

.statuses {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.status {
    margin: 10px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
}

.status .image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0;
}

.status .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}